<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html
 xmlns="http://www.w3.org/1999/xhtml"
 xmlns:xml="http://www.w3.org/XML/1998/namespace"
 xml:lang="ja"
 lang="ja">
<head>
  <title>作品紹介</title>
  <link rel="stylesheet" type="text/css" href="../style/book-style.css"/>
</head>

<body class="p-text vrtl">
 <div class="main">
   <div class="maegaki">
     {{#body}}
     {{{paragraph}}}
     {{/body}}
  </div>
 </div>
</body>
</html>
